<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  <listener class-name="com.employeeapi.utilities.listeners"/>
  </listeners>
  <test name="Test">
    <classes>
      <class name="com.employee.base.TestBase"/>
      <class name="com.employee.testcase.TC_CreateEmploye_Post"/>
      <class name="com.employee.testcase.TC_GET_GetAllEmployees"/>
      <class name="com.employee.testcase.TC_Put_EMployee"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
